li{
    list-style: none;  
}

.header{
    background-color: #794e8cb4;  
    color: rgb(113, 21, 111);
    height: 70px;
}

.header-logo{
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 33px 20px;
}

.main{
    background-color: #cd89af;
    color: rgb(103, 29, 67);
    padding: 90px 70px;
}

.copy-container h1{
    font-size: 140px;
}

.copy-container h2{
    font-size: 60px;
}

.contents {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    background-color: #cd89af;
    color: #cc3580;
    border-bottom: 5px solid #9b1f82;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .contents-item {
    float: left;
    border-width: 200px;
    border: 5px solid #9b1f82;
    margin-right: 50px;
    margin-left: 40px;
  }
  
  .contents-item p {
    color: rgb(103, 29, 67);
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .contact-form {
    padding-top: 100px;
  }
  
  input, textarea{
    background-color: #cd89af;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    border: 5px solid #9b1f82;
  }
  .contact-submit {
    background :#8b4879 ;
    color: #931862;
  }

.footer{
    background-color: #794e8cb4;
    color: rgb(115, 39, 129);
    height: 100px;
    padding: 30px;
}

.footer-logo{
    font-size: 32px;
    float: left;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}
